# ------------------------------------ Assets ----------------------------------- #
tsconfig.json
public/*

# ------------------------------------- Next ------------------------------------ #
next.config.js
next.export.config.js
