.component {
  width: 1486px;
  height: 106px;
  padding: 20px 20px 20px 20px; 
  margin: 1em auto;
  gap: 10px;
  border-radius: 12px;
  color: var(--Text-gray-dark, #3F3F3F);
  background-color: #fff;
  border: 2px solid transparent;
  cursor: default;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 1em;
  flex-wrap: nowrap;
}

.title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;  
}

.location {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: -0.01em;
  text-align: left;
  padding: 0.5em 1em;
  border-radius: 16px;
  border: 2px solid;
  white-space: nowrap;
  flex-shrink: 0;
}

.content {
  margin-top: 1.0em; 
}

.content p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 0.5em 0;
}

.red {
  background: var(--Background-red-light, #FFEFEF);
}

.red .title, .red .location {
  color: var(--Accent-red, #FF6D6D);
}

.red .location {
  border-color: var(--Accent-red, #FF6D6D);
}

.primary {
  background: var(--Background-purple-light, #FAF8FF);
}

.primary .title, .primary .location {
  color: #6100FF;
}

.primary .location {
  border-color: #6100FF;
}

.grey {
  background: var(--Background-gray-light, #F1F1F1);
}

.grey .title {
  color: var(--Text-gray-dark, #3F3F3F);
}

.grey .location {
  color: var(--Text-gray-dark, #3F3F3F);
  border-color: var(--Text-gray-dark, #3F3F3F);
}

.grey .content p {
  color: #969696;
}
